body {
font-family: "Raleway", Arial, sans-serif;
background: #252328;
color: #d2d2d2;
letter-spacing: 0.6px;
}
.container {
padding: 30px 0 15px;
min-height: 450px;
}
header:after {
content:"";
display: table;
clear: both;
}
header {
color: #fff;
padding: 10px 2% 15px;
font-size: 14px;
border-bottom: 1px solid #353338;
/*color: #EA504E;*/
}
.wrapper {
width: 98%;
max-width: 1000px;
margin: 2% auto;
box-sizing: border-box;
overflow: hidden;
background: #1d1a21;
border-radius: 5px;
}
header nav a {
color: #d2d2d2;
transition: all 0.3s;
}
header nav a:hover {
color: #EA504E;
}
.logo {
float: left;
}
nav {
float: right;
padding-top: 19px;
}
nav li {
float: left;
margin-left: 20px;
}

.container {
}
.formImg {
float: left;
}
.wrapForm {
width: 1000px;
margin: 0 auto;
overflow: hidden;
}
.form {
width: 70%;
padding: 2% 2% 3%;
min-width: 320px;
background: #353338;
margin: 0 auto 20px;
text-align: center;
border-radius: 5px;
}
.form input {
// .form input[type=text],
// .form input[type=textarea],
// .form input[type=submit]{
width: 80%;
height: 50px;
min-width: 300px;
margin-bottom: 15px;
border: none;
border-radius: 5px;
}

.form > p:first-child {
margin-bottom: 20px;
}
.form > p:nth-child(2) {
margin-bottom: 30px;
font-size: 22px;
font-weight: 300;
}
.inputText {
padding: 0 20px;
}
.inputSubmit {
font-weight: 600;
letter-spacing: 1px;
color: #EA504E;
margin-top: 20px;
background: #fff;
-webkit-transition: all 0.3s; /* Safari */
transition: all 0.3s;
cursor: pointer;
}
.inputSubmit:hover {
background: #EA504E;
color: #fff;
}
.formContent img {
width: 86%;
}
.formContent h2 {
font-size: 22px;
font-weight: 300;
padding-bottom: 40px;
}
.welcomeImg {
text-align: center;
}
.welcomeEmail {
text-align: center;
font-size: 23px;
font-weight: 300;
text-transform: uppercase;
}
#flash {
text-align: center;
color: #EA504E;
padding-top: 15px;
}
input[type='checkbox'] {
width: 14px;
height: 14px;
min-width: 14px;
}
textarea {
width: 80%;
min-width: 300px;
min-height: 100px;
border: none;
border-radius: 5px;
resize: vertical;
font-family: 'Arial';
box-sizing: border-box;
padding: 10px;
}
.selectUser {
border: 1px solid #d2d2d2;
position: relative;
border-radius: 5px;
width: 80%;
margin-bottom: 20px;
margin: 0 auto 20px auto;
}
.selectUser > span {
position: absolute;
top: -12px;
left: 10px;
background: #353338;
padding: 0 5px;
font-weight: 600;
color: #EA504E;
}
.selectUser > ul {
margin-top: 20px;
margin-bottom: 15px;
}
.selectUser > ul span {
width: 88%;
text-align: left;
display: inline-block;
}
.message {
margin: 0px auto 30px;
position: relative;
padding: 2%;
}
.message p {
text-align: justify;
text-indent: 10px;
padding-bottom: 10px;
}
.message > div:last-child {
border-top: 1px solid #d2d2d2;
margin-top: 15px;
padding-top: 15px;
text-align: right;
font-size: 14px;
}
.iconMessage {
position: absolute;
top: -16px;
left: -16px;
}
.friend {
overflow: hidden;
padding: 1% 2% 1%;
}
.friend span {
float: left;
}
.friend a {
font-size: 40px;
line-height: 0.6;
color: #fff;
float: right;
transition: all 0.2s;
}
.friend a:hover {
color: #EA504E;
}
footer {
color: #fff;
padding: 10px 2% 15px;
font-size: 14px;
border-top: 1px solid #353338;
text-transform: uppercase;
text-align: center;
}
.dropdown {
position: relative;
}
.dropdown {
cursor: default;
padding-bottom: 13px;
}
.subNav:after{
content: "";
display: table;
clear: both;
}
.subNav {
display: none;
position: absolute;
z-index: 10;
top: 30px;
}
.subNav li {
float: none;
margin-left: 0;
}
.subNav a {
background: #fff;
padding: 5px 10px;
border-bottom: 1px solid darkgray;
width: 150px;
color: darkgray;
}
.dropdown:hover .subNav {
display: block;
}
nav a {
display: block;
}