body {
font-family: "Raleway", Arial, sans-serif;
background: #252328;
color: #fff;
}
.container {
padding: 30px 0;
}
header {
color: #fff;
overflow: hidden;
padding: 10px 2% 15px;
font-size: 14px;
border-bottom: 1px solid #353338;
/*color: #EA504E;*/
}
.wrapper {
width: 98%;
max-width: 1000px;
margin: 2% auto;
box-sizing: border-box;
overflow: hidden;
background: #1d1a21;
border-radius: 5px;
}
header nav a {
color: #fff;
}
.logo {
float: left;
}
nav {
float: right;
padding-top: 19px;
}
nav li {
float: left;
margin-left: 20px;
}

.container {
}
.formImg {
float: left;
}
.wrapForm {
width: 1000px;
margin: 0 auto;
overflow: hidden;
}
.form {
width: 460px;
padding: 20px;
background: #353338;
margin: 0 auto 20px;
text-align: center;
border-radius: 5px;
}
.form input {
width: 420px;
height: 50px;
margin-bottom: 15px;
border: none;
border-radius: 5px;
}

.form > p:first-child {
margin-bottom: 20px;
}
.form > p:nth-child(2) {
margin-bottom: 30px;
font-size: 22px;
font-weight: 300;
color: #fff;
}
.inputText {
padding: 0 20px;
}
.inputSubmit {
font-weight: 600;
letter-spacing: 1px;
color: #EA504E;
margin-top: 20px;
background: #fff;
-webkit-transition: all 0.3s; /* Safari */
transition: all 0.3s;
cursor: pointer;
}
.inputSubmit:hover {
background: #EA504E;
color: #fff;
}
.formContent img {
width: 86%;
}
.formContent h2 {
font-size: 22px;
font-weight: 300;
padding-bottom: 40px;
}
.welcomeImg {
text-align: center;
}
.welcomeEmail {
text-align: center;
font-size: 23px;
font-weight: 300;
text-transform: uppercase;
}
#flash {
text-align: center;
color: #EA504E;
padding-top: 15px;
}
input[type='checkbox'] {
width: 14px;
height: 14px;
}
textarea {
width: 420px;
min-height: 100px;
border: none;
border-radius: 5px;
resize: vertical;
font-family: 'Arial';
box-sizing: border-box;
padding: 10px;
}
.selectUser {
border: 1px solid #fff;
position: relative;
border-radius: 5px;
margin-bottom: 20px;
}
.selectUser > span {
position: absolute;
top: -12px;
left: 0px;
background: #353338;
padding: 0 5px;
font-weight: 600;
color: #EA504E;
}
.selectUser > ul {
margin-top: 20px;
margin-bottom: 15px;
}
.selectUser > ul span {
width: 370px;
text-align: left;
display: inline-block;
}
.message {
margin: 0px auto 30px;
position: relative;
width: 700px;
}
.message p {
text-align: justify;
text-indent: 10px;
}
.message > div:last-child {
border-top: 1px solid #fff;
margin-top: 15px;
padding-top: 15px;
text-align: right;
font-size: 14px;
}
.iconMessage {
position: absolute;
top: -16px;
left: -16px;
}